// Hero

.wrapper {
    max-width: 1156px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 1156px) {
    .wrapper {
        margin: 0 48px;
    }
}

.hero {
    background-color: #faedcd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;

    &-background {
        position: absolute;
    }

    &-text {
        color: #eb5e55;
        font-size: 98px;
    }

    &-subtext {
        max-width: 840px;
        color: #331832;
        font-size: 32px;
        text-align: center;
        margin: 32px;
    }

    .container {
        position: relative;
        z-index: 10;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 758px;
    }
}

// Design elements

.elements {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .grid-dots {
        position: absolute;
        width: 100px;
        right: 0;
        top: 48px;
    }

    .asterisk {
        position: absolute;
        width: 100px;
        bottom: 100px;
        right: 100px;
    }

    .grid-circles {
        width: 150px;
        position: absolute;
        bottom: 50px;
        left: 172px;
    }

    .polygon-brown {
        position: absolute;
        left: 10px;
        bottom: 100px;
        height: 26px;
        width: 26px;
        transform: rotate(45deg);
        background-color: #331832;
    }

    .polygon-orange {
        position: absolute;
        right: 200px;
        top: 50px;
        height: 36px;
        width: 36px;
        transform: rotate(45deg);
        background-color: #ff8f17;
    }

    .eye {
        position: absolute;
        top: 127px;
        left: 136px;

        .sclera {
            width: 172px;
            height: 172px;
            background-color: #f7bfbb;
            border-radius: 85% 0px;
            transform: rotate(45deg);
        }

        .iris {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: #eb5e55;
        }

        .pupil {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 36px;
            width: 36px;
            border-radius: 50%;
            background-color: #331832;
        }
    }
}

// Project section

.projects {
    padding: 100px 0;
    color: #331832;

    &-heading {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }

    &-cta {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 30px 0;
        margin-top: 40px;

        a {
            text-decoration: none;
            font-weight: 600;
            color: #331832;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// About

.about {
    background-color: #faedcd;
    margin: 0 auto;
    padding: 100px 0;
    color: #331832;
}

.bio {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eb5e55;
    align-items: center;
    padding: 30px 0;

    .heading {
        font-size: 98px;
        color: #eb5e55;
        max-width: 468px;
    }

    .description {
        max-width: 562px;
        font-size: 24px;
        font-weight: 300;

        p {
            margin: 20px 0;
        }
    }
}

.services {
    max-width: 1018px;

    &-heading {
        margin: 76px 0;
        font-size: 48px;
    }

    &-subtext {
        font-size: 24px;
        font-weight: 300;
    }
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 24px;
}

.skill {
    display: flex;
    align-items: center;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-style: italic;

    &-icon {
        height: 64px;
        width: 64px;
        background: #331832;
        border-radius: 50%;
        position: relative;
        margin-right: 20px;

        img {
            height: 24px;
            width: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Footer

footer {
    background-color: #331832;

    .container {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        padding: 48px 0;
    }

    .heading {
        font-size: 32px;
    }

    .subheading {
        font-size: 16px;
        font-weight: 100;
        margin-top: 10px;
    }

    .connector {
        height: 20px;
        border-right: 2px solid #eb5e55;
        margin: 10px 0;
    }
}

.social {
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    width: 100%;

    &-text {
        font-size: 24px;
    }

    &-icons {
        display: flex;
    }

    &-icon {
        font-size: 20px;
        color: white;
        height: 24x;
        width: 24px;
        padding: 20px;
    }
}

.copyright {
    font-weight: 100;
    text-transform: uppercase;
}
