.header {
    max-width: 1156px;
    margin: 0 auto;
    height: 142px;
    display: flex;
    align-items: center;

    &-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 265px;
    padding: 0 48px;
}

.menu-icon {
    padding: 0 48px;
}
