html {
    font-family: 'Archivo', sans-serif;
}

body.menu-open {
    overflow: hidden;
}

.wrapper {
    max-width: 1156px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.highlighted-text {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.highlighted-italic-text {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-style: italic;
}
